input {
    font-size: 20px;
}

*:focus {
    outline: 0;
}

.number, .operator, .decimal, .divide {
    background-color: rgb(214, 214, 214);
    border: none;
    height: 50px;
    width: 50px;
}

.operator {
    background-color: rgb(245, 146, 62);
}

.clear, .calculate, .zero {
    border: none;
    height: 50px;
    width: 100px;
}

.zero {
    height: 50px;
    text-align: right;
    padding-right: 18px;
}

.answer {
    background-color: rgb(136, 136, 136);
    border: none;
    height: 50px;
    width: 184px;
    padding: 0 15px 0 0;
    text-align: right;
    border-radius: 5px 5px 0 0;
}

.calcContainer {
    margin: 50px;
    text-align: center;
}

.firstRow, .secondRow, .thirdRow, .fourthRow {
    height: 40px;
    width: 100%;
}

.number, .answer, .operator, .clear, .calculate {
    border: 1px solid black;
} 

.clear {
    border-radius: 0 0 0 5px;
}

.calculate {
    border-radius: 0 0 5px 0;
}